{% extends "base.html"%}
{% load static %}
{% load bag_tools %}

{% block content %}
    <div class="cover"></div>
    <div class="container-fluid vh-100 clear-nav"> 
        {% include 'includes/banner.html'%}
                <div class="row">
                    <div class="col text-center ">
                        <h2 class="text-white">Shopping bag</h2> 
                        <hr class="w-50 mx-auto mb-3">
                    </div>
                </div>
            
            <div class="row mt-3">
                <div class="col text-center">
                    {% if bag_items %}
                        <div class="table-responsive rounded">
                            <table class="table table-sm table-borderless">
                                <thead class="text-purple text-uppercase">
                                    <tr>
                                        <th scope="col">Product Info</th>
                                        <th scope="col"></th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Qty</th>
                                        <th scope="col">Subtotal</th>
                                    </tr>
                                </thead>
    
                                {% for item in bag_items %}
                                    <tr >
                                        <td class="p-3 w-25">
                                            <img class="card-img-top product-detail-img" src="{{ item.product.image.url }}">
                                        </td>
                                        <td class="py-3">
                                            <p class="my-0 text-dark "><strong>Name: {{ item.product.name }}</strong></p>
                                            <p class="my-0 text-light "><strong>Size: </strong> {{ item.size |upper }}</p>
                                            <p class="my-0 small text-light">SKU: {{ item.product.sku|upper }}</p>
                                        </td>
                                        <td class="py-3">
                                            {% if item.product.special_price %}
                                            <p class="my-0"><strong class="text-dark">Was: </strong><span class="text-decoration-line-through">£{{ item.product.price }}</span></p>
                                            <p class="my-0"><strong class="text-dark">Now: </strong><span class="text-danger">£{{ item.product.special_price }}</span></p>
                                            {% else %}
                                            <p class="my-0">£{{ item.product.price }}</p>
                                            {% endif %}
                                        </td>
                                        <td class="py-3">
                                            <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input class="form-control form-control-sm qty_input" type="number"
                                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                            data-item_id="{{ item.item_id }}"
                                                            id="id_qty_{{ item.item_id }}">
                                                </div>
                                                </div>
                                            </form>
                                        <a class="update-link text-light  float-left"><small>Update</small></a>
                                        <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><small>Remove</small></a>
                                        </td>
                                        <td class="py-3">
                                            {% if item.product.special_price %}
                                            <p class="my-0"><strong class="text-dark"></strong><span class="text-danger">£{{ item.product.special_price | calc_subtotal:item.quantity}}</span></p>
                                            {% else %}
                                            <p class="my-0">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="5" class="pt-5 text-right text-light">
                                        <h6><strong class="text-purple">Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                                        <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                                        <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                                        {% if free_delivery_delta > 0 %}
                                            <p class="mb-1 text-danger">
                                                You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                                            </p>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-right">
                                        <a href="{% url 'products' %}" class="btn btn-light rounded-0 btn-md">
                                            <span class="icon">
                                                <i class="fas fa-chevron-left"></i>
                                            </span>
                                            <span class="text-uppercase text-purple">Keep Shopping</span>
                                        </a>
                                        <a href="{% url 'checkout' %}"  class="btn btn-dark rounded-0 btn-md">
                                            <span class="text-uppercase">Secure Checkout</span>
                                            <span class="icon">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                           
                        </div>
                    {% else %}
                        <p class="lead mb-5 text-uppercase">Your bag is empty.</p>
                        <a href="{% url 'products' %}" class="btn btn-lg rounded-0">
                            <span class="icon">
                                <i class="fas fa-chevron-left bg-purple"></i>
                            </span>
                            <span class="text-purple text-uppercase">Keep Shopping</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
   
{% endblock %}
{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}