{% extends "base.html"%}
{% load static %}

{% block content %}
    <div class="cover"></div>
    <div class="container-fluid vh-100 clear-nav"> 
        {% include 'includes/banner.html'%}
                <div class="row">
                    <div class="col text-center ">
                        <h2 class="text-white">Shopping bag</h2> 
                        <hr class="w-50 mx-auto mb-3">
                    </div>
                </div>
            
            <div class="row mt-3">
                <div class="col text-center">
                    {% if bag_items %}
                        <div class="table-responsive rounded"></div>
                    {% else %}
                        <p class="lead mb-5 text-uppercase">Your bag is empty.</p>
                        <a href="{% url 'products' %}" class="btn btn-lg rounded-0">
                            <span class="icon">
                                <i class="fas fa-chevron-left bg-purple"></i>
                            </span>
                            <span class="text-purple text-uppercase">Keep Shopping</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
   

{% endblock %}
