{% extends "base.html"%}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="cover"></div>
<div class="container-fluid vh-100 clear-nav">
    {% include 'includes/banner.html'%}
    <div class="row">
        <div class="col text-center ">
            <h2 class="text-dark">My Profile</h2>
            <hr class="w-50 mx-auto mb-3">
        </div>
    </div>
    <div class="row col-12 mx-auto">
        <div class="col-12 col-lg-6 mt-4">
            <h2 class="text-dark fs-4 text-md">
                Default Delivery Information
            </h2>
            <form id="profile-update-form" class="mt-3" action="{% url 'profile' %}" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-dark text-center mt-2 shopping-button" type="submit">
                    <i class="fa-solid fa-circle-info pe-2"></i>                                         
                    Update Information
                </button>
            </form>
        </div>
        <div class="col-12 col-lg-6 mt-4">
            <h2 class="dark fs-4 text-dark">Order history</h2>
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr class="text-purple">
                            <td>Product</td>
                            <td>Comment</td>
                            <td>Rating</td>
                            <td>Order Total</td>
                        </tr>
                    </thead>
                    <tbody class="text-light">
                        {% if orders.count == 0 %}
                            <tr>
                                <td colspan="4" class="text-center">You haven't made any reviews yet.</td>
                            </tr>
                        {% else %}
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a class="text-light" href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                        {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date|date:"d/m/Y" }}</td>
                                    <td>
                                        <ul class="list-unstyled ">
                                            {% for item in order.lineitems.all %}
                                                <li class="small ">
                                                    Size {{ item.product.size|upper }} 
                                                    {{ item.product.name }} x {{ item.quantity }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>£{{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                            {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12  mt-4">
        <h2 class="dark fs-4 text-dark">Review History</h2>
        <div class="order-history table-responsive">
            <table class="table table-sm table-borderless">
                <thead>
                    <tr class="text-dark">
                        <td>Product link</td>
                        <td>Comment</td>
                        <td>Rating</td>
                        <td>Date</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody class="text-light">
                    {% if reviews.count == 0 %}
                        <tr>
                            <td colspan="4" class="text-center">You haven't made any orders yet.</td>
                        </tr>
                    {% else %}
                        {% for review in reviews %}
                            <tr>
                                <td>
                                    <a class="text-purple" href ="{% url 'product_detail' review.product.id %}">
                                        {{ review.product.name }}
                                    </a>
                                </td>
                                <td>
                                    {{ review.comment }}
                                </td>
                                <td>
                                    {{ review.created_date|date:"d/m/Y" }}
                                </td>
                                <td>
                                    <small class="text-muted"><i class="fas fa-star pe-1 text-warning"></i></small>{{ review.rating }} / 5
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-sm" href="{% url 'edit_review' review.id %}">Edit Review</a>
                                    <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete-review-modal-{{ review.id }}">
                        
                                        Delete
                                    </button>
                                </td>
                                <td>
                                    
                                </td>
                            </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div> 
</div>

{% endblock %}


       


