@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Bitter:wght@200&family=Playfair+Display&display=swap');


/***** Main Styling *****/
html{
    height:100%;
}

body{
    font-family:'Bacasime Antique', serif ;
    background: url('/media/woman.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.btn-primary{
    color:whitesmoke;
    background-color:black;
}
