{% extends "account/base.html" %}

{% load i18n %}

{% block title %} | Sign Out{% endblock %}

{% block inner_content %}

<h2 class="dark text-center">{% trans "Sign Out" %}</h2>
<hr class="w-75 mx-auto mb-3">

<p class="text-center text-light">{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <div class="d-flex justify-content-between flex-wrap">
    <a href="{% url 'home' %}" class="btn btn-dark text-center shopping-button"><i class="fas fa-chevron-left pe-2"></i>No take me home!</a>
    <button type="submit" class="btn btn-light text-center shopping-button"><i class="fa-solid fa-right-from-bracket pe-2"></i>{% trans 'Sign Out' %}</button>
  </div>
</form>


{% endblock %}