{% extends "account/base.html" %}

{% load i18n %}

{% block title %} | Change Password{% endblock %}

{% block inner_content %}

<h2 class="dark text-center">{% trans "Change Password" %}</h2>
<hr class="w-75 mx-auto mb-3"> 

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action" class="btn btn-dark text-center mobile-btn">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
