{% extends "account/base.html" %}

{% load i18n %}
{% block title %} | Change Password{% endblock %}

{% block inner_content %}
    <h2 class="dark text-center">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>
    <hr class="w-75 mx-auto mb-3"> 

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="text-center text-puple">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}" class="new_password_form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-dark text-center shopping-button" type="submit" name="action"><i class="fa-solid fa-unlock pe-2"></i>Change Password</button>
            </form>
        {% else %}
            <p class="text-center text-purple">{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
