{% extends "base.html"%}
{% load static %}


{% block content %}
<div class="cover"></div>
<div class="container-fluid vh-100 clear-nav">
    {% include 'includes/banner.html'%}
    <div class="row">
        <div class="col text-center ">
            <h2 class="text-dark">Contact us</h2>
            <hr class="w-50 mx-auto mb-3">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 mx-auto">
            <form method="POST" action="{% url 'contact_us' %}" class="form mb-2 text-white">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_name">Your Name:</label>
                    {{ form.name }}
                </div>
                <div class="form-group">
                    <label for="id_email">Your Email:</label>
                    {{ form.email }}
                </div>
                <div class="form-group">
                    <label for="id_subject">Subject:</label>
                    {{ form.subject }}
                </div>
                <div class="form-group">
                    <label for="id_content" class="message-label">Your Message:</label>
                    {{ form.content }}
                </div>
                <div class="text-right">
                    <button class="btn btn-dark rounded" type="submit">Submit</button>
                </div>
            </form>
            
        </div>
    </div>
</div>

{% endblock %}