{% extends "base.html"%}
{% load static %}


{% block content %}
<div class="cover"></div>
<div class="container-fluid vh-100 clear-nav">
    {% include 'includes/banner.html'%}
    <div class="row">
        <div class="col text-center ">
            <h2 class="text-dark">Product Management</h2>
            <h5 class="text-light text-uppercase">Add Review</h5>
            <hr class="w-50 mx-auto mb-3">
        </div>
    </div>
    <div class="row justify-content-center">
    <div class="col-12 col-md-6 mx-auto">
        <form method="post" action="{% url 'add_review' product_id=product.id %}">
            
            <h4 class="mb-0 text-urple "> Review for " {{ product.name }}"</h4>
            <hr>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-sm btn-dark text-uppercase mobile-btn rounded" type="submit">Submit Review </button>
            <a class="btn btn-sm text-uppercase btn-light mobile-btn rounded" href="{% url 'product_detail' product.id %}">Cancel</a>
        </form>
        </div>
    </div>
</div>

{% endblock %}


