<div class="toast custom-toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="7000">
    <div class="toast-header text-dark">
        <strong class="me-auto text-success">Success!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body bg-white">
        <div class="row">
            <div class="col">
                {{ message }}
            </div>
            <hr class="mt-1 mb-3">
        </div>
        {% if grand_total  %}
            <p class="text-black py-1">Your Bag ({{ product_count }})</p>
            <div class="bag-notification-wrapper">
                {% for item in bag_items %}
                    <div class="row">
                        <div class="col-3 my-1">
                            {% if item.product.image %}
                                <img class="product-detail-img w-100" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                            {% else %}
                                <img class="product-detail-img w-100" src="{{ MEDIA_URL }}noimage.webp" alt="{{ item.product.name }}">
                            {% endif %}
                        </div>
                        <div class="col-9">
                            <p class="my-0"><strong>{{ item.product.name }} - {{ item.product.size }} ({{ item.product.size_unit}})</strong></p>
                            <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    <strong><p class="mt-2 mb-0 text-dark">
                        Total{% if free_delivery_delta > 0 %} (Exc. delivery){% endif %}: 
                        <span class="float-end">£{{ total|floatformat:2 }}</span>
                    </p></strong>
                    <strong><p class="mb-1 text-dark">
                        Delivery: 
                        <span class="float-end">£{{ delivery|floatformat:2 }}</span>
                    </p></strong>
                    <strong><p class="mb-1 text-dark">
                        Grand Total: 
                        <span class="float-end">£{{ grand_total|floatformat:2 }}</span>
                    </p></strong>
                    {% if free_delivery_delta > 0 %}
                        <p class="mb-0 p-2 bg-warning text-dark text-center">
                            Spend <strong>£{{ free_delivery_delta }}</strong> more to get free next day delivery!
                        </p>
                    {% endif %}
                    <a href="{% url 'view_bag' %}" class="btn btn-dark text-center mt-2 w-100">
                            <i class="fas fa-lock pe-2"></i>                                            
                        Secure Checkout
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</div>